{% extends 'emails/layout/base.html.twig' %}

{% block subject %}Réinitialisation de mot de passe{% endblock %}

{% block content %}
    <p>Bonjour {{ user.firstName }},</p>
    
    <p>Vous avez demandé à réinitialiser votre mot de passe sur votre compte Khamareo.</p>
    
    <div class="card">
        <p style="text-align: center; margin-bottom: 0;">
            Cliquez sur le bouton ci-dessous pour créer un nouveau mot de passe :
        </p>
    </div>
    
    <div style="text-align: center; margin: 32px 0;">
        <a href="{{ resetUrl }}" class="btn-primary">Créer un nouveau mot de passe</a>
    </div>
    
    <div class="alert">
        <p>
            <strong>Sécurité :</strong><br>
            Si vous n'êtes pas à l'origine de cette demande, ignorez cet email. Votre mot de passe actuel reste inchangé.
        </p>
    </div>
    
    <div class="highlight">
        <p>
            <strong>Important :</strong> Ce lien est valide pendant <strong>1 heure</strong> pour des raisons de sécurité.
        </p>
    </div>
    
    <p class="muted" style="text-align: center; margin-top: 32px;">
        Des questions sur la sécurité de votre compte ? Contactez-nous.
    </p>
{% endblock %}