{% extends 'emails/layout/base.html.twig' %}

{% block subject %}Welcome to Khamareo!{% endblock %}

{% block content %}
    <p>Hello {{ user.firstName }},</p>

    <p>Welcome to the world of African wellness! We're thrilled to have you with us.</p>

    <div class="card">
        <h3 style="margin-top: 0; text-align: center; color: #5C7357;">To Begin Your Journey</h3>
        <p style="text-align: center; margin-bottom: 0;">
            Please confirm your email address by clicking the button below:
        </p>
    </div>

    <div class="btn-wrapper">
        <a href="{{ confirmationUrl }}" class="btn-primary">Confirm My Account</a>
    </div>

    <p class="small" style="text-align: center;">
        If the button doesn't work, copy and paste this link into your browser:<br>
        <a href="{{ confirmationUrl }}" style="color: #D8A35D; word-break: break-all;">{{ confirmationUrl }}</a>
    </p>

    <hr class="divider">

    <div class="card" style="text-align: center;">
        <h3 style="margin: 0 0 12px 0; color: #5C7357;">Welcome Gift</h3>
        <p style="margin: 0;">
            Once your account is confirmed, you'll receive a <strong style="color: #D8A35D;">10% promo code</strong> to use on your next order!
        </p>
    </div>

    {% if newsletterSubscribed %}
    <div class="card" style="text-align: center; border-color: #D8A35D;">
        <h3 style="margin: 0 0 12px 0; color: #5C7357;">Newsletter Subscription Included</h3>
        <p style="margin: 0;">
            You signed up for our newsletter. After confirming your account, your subscription will be activated and you'll also receive a <strong style="color: #D8A35D;">bonus 10% newsletter promo code</strong>!
        </p>
    </div>
    {% endif %}

    <div class="highlight">
        <p style="margin: 0;">
            <strong>Did You Know?</strong><br>
            By creating your account, you get access to exclusive offers, tracked shipping, and priority access to our new products.
        </p>
    </div>
{% endblock %}
