.git
.github
tests/
docs/
var/cache/
var/log/
var/sessions/
.env.local
.env.*.local
.env.test
.env.dev
docker-compose.yml
docker-compose.override.yml
*.md
.phpunit.cache/
phpunit.xml
phpunit.xml.dist
.docker/
node_modules/
